section {
  .prosContainer {
    @media screen and (max-width: 1323px) {
      .prosInfo {
        width: 340px;
      }
    }

    @media screen and (max-width: 1115px) {
      .prosInfo {
        width: 300px;

        span {
          font-size: 18px;
        }
      }

      @media screen and (max-width: 988px) {
        .prosInfo {
          width: 100%;

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
